---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Research Interests</div>
  </div>

  <div class="mb-10 text-justify">
<div>Galactic archaeology: accretion history of the Milky Way and its stellar halo; the Galactic bulge; Galactic structure and dark matter; chemical tagging; Galactic dynamics and the Milky Way bar; Galactic
chemical evolution; first stars</div>
<div>Galaxy formation: mass assembly of galaxies, stellar populations, dwarf galaxies and near-field cosmol-
ogy, globular clusters</div>
<div>Stellar evolution: stellar nucleosynthesis, origin of the elements, stellar age dating, Exoplanet host star
characterisation</div>
<div>Statistics and machine learning: data-driven methods for astronomy; data mining large surveys; foun-
dation models for astronomy; Bayesian statistical inferences</div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD, Astrophysics"
      subtitle="2018 to 2022 at Liverpool John Moores University, Liverpool, UK"
    />
    <TimeLineElement
      title="MPhys, Physics with Astrophysics"
      subtitle="2014 to 2018 at Northumbria University, Newcastle, UK"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Marie Sklodowska-Curie Fellow"
      subtitle="From 2025 to 2027 at University of Edinburgh, Edinburgh, UK"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Flatiron Research Fellow"
      subtitle="From 2022 to 2025 at Flatiron Institute, New York, USA"
    >
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> IAU Best PhD Thesis Prize in Galaxies and Cosmology, 2022</a>
    </li>
    <li>
      <a href="#" target="_blank"> LJMU best PhD thesis prize, 2022</a>
    </li>
  </ul>

<a 
    href="/Danny_Horta_CV.pdf" 
    target="_blank" 
    class="btn btn-outline border-[#A3C6C4] text-[#A3C6C4] hover:bg-[#A3C6C4] hover:text-[#1A1A1A] px-6"
  >
    Download Full CV (PDF)
  </a>

</BaseLayout>
