---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Danny Horta</div>
    <div class="text-3xl py-3 font-bold">Marie Sklodowska-Curie Fellow</div>
    <div class="mt-8">
    <ul class="icons">
							<a href="https://github.com/DHortaD" class="icon brands style2 fa-github"><span class="label">Github</span></a>

							<a href="https://scholar.google.com/citations?user=84puLdYAAAAJ&hl=en" class="fas fa-graduation-cap"><span class="label">Google Scholar</span></a>
							<a href="https://ui.adsabs.harvard.edu/search/q=%20author%3A%22Horta%2C%20Danny%22&sort=date%20desc%2C%20bibcode%20desc&p_=0" class="fa fa-book"><span class="label">ADS</span></a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Orbital Torus Imaging"
    img="/vc.png"
    desc="The Milky Way's Circular Velocity Curve Measured Using Element Abundance Gradients"
    url="https://ui.adsabs.harvard.edu/abs/2026ApJ..1000....8H/abstract"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Chemical differences in Milky Way populations"
    img="/PeriodicTableOrigins2.jpg"
    desc="Hydrostatic and explosive α-element chemical abundances of Milky Way globular clusters, halo substructures, and satellite galaxies"
    url="https://ui.adsabs.harvard.edu/abs/2025MNRAS.544L..64H/abstract"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Lux"
    img="/lux.png"
    desc="A Generative, Multioutput, Latent-variable Model for Astronomical Data with Noisy Labels"
    url="https://ui.adsabs.harvard.edu/abs/2025AJ....169..314H/abstract"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>
  <div>
In development
  </div>


</BaseLayout>
