---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="About me" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About me</div>
  </div>

  <div class="mb-10 text-justify">
<div> In my past life I used to play basketball competitively for the Newcastle Eagles. I know play recreationally in Scotland.</div>
<div> I am married to my lovely wife Debra who I like travelling around the world with</div>
<div> I like nature, music, dancing, and guinness (especially in Ireland) </div>

</BaseLayout>

