---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div>

  <HorizontalCard
    title="Galactic archaeology"
    img="/mw.png"
    desc="I am interested in combining vast and rich data collected by large scale stellar surveys of the Milky Way to decipher its formation and evolution"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Astroinformatics"
    img="/mlastronomy.png"
    desc="I like creating and developing data-driven statistical and machine learning methods for modelling astronomical data"
    url="#"
  />

  <HorizontalCard
    title="Galactic dynamics"
    img="/orbit.png"
    desc="I am interested in Galactic dynamics overall, and specifically in developing data-driven galaxy dynamics frameworks"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Galaxy formation"
    img="/hubble.png"
    desc="I am interested in galaxy formation broadly, and in particular the typicality of our Milky Way galaxy. To that end, I analyse data from cosmological simulations and compare that to observations in the Milky Way"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Globular Clusters"
    img="/omegacen.png"
    desc="I find globular clusters very interesting astronomical objects. I try to understand how these systems form and evolve in galaxies like our own"
    url="#"
  />
</BaseLayout>
