---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---





<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research interests</div>
  </div>

  <section class="research-areas">
    <div class="research-item">
      <span class="research-category"><u>Galactic archaeology</u>:</span>
      <span class="research-topics">accretion history of the Milky Way and its stellar halo; Galactic structure and dark matter; chemical tagging; Galactic dynamics and the Milky Way bar; Galactic chemical evolution; first stars</span>
    </div>
  
    <div class="research-item">
      <span class="research-category"><u>Galaxy formation</u>:</span>
      <span class="research-topics">mass assembly of galaxies, stellar populations, dwarf galaxies and near-field cosmology, globular clusters</span>
    </div>
  
    <div class="research-item">
      <span class="research-category"><u>Stellar evolution</u>:</span>
      <span class="research-topics">stellar nucleosynthesis, origin of the elements, stellar age dating, Exoplanet host star characterisation</span>
    </div>
  
    <div class="research-item">
      <span class="research-category"><u>Statistics and machine learning</u>:</span>
      <span class="research-topics">data-driven methods for astronomy; data mining large surveys; foundation models for astronomy; Bayesian statistical inferences</span>
    </div>
  </section>




  <div>
    <div class="text-3xl w-full font-bold mb-5">Research projects and publications</div>
  </div>
  <p> In development!</p>
<!-- 
  <div class="py-2">
    <text class="text-lg">    
    You can view all the articles I have been involved and my full publication list <a href="https://ui.adsabs.harvard.edu/search/q=author%3A%22Horta%2C%20Danny%22&sort=date%20desc%2C%20bibcode%20desc&p_=0"><u>here<u></a>
    </text>
</div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
 -->





</BaseLayout>
